/*Links and buttons default styles*/

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.cta {
  display: block;
  cursor: pointer;
  text-align: center;
  font-family: "Josefin Sans", Verdana, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--text-color);
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
}

.cta-wide {
  width: 220px;
  background-color: var(--cta-dark-color);
  border: 1px solid var(--cta-dark-color);
}

.cta-100 {
  width: 100%;
  margin: 1rem 0rem;
}

.cta-small {
  width: 175px;
  text-transform: none;
}

.cta-center {
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.cta-border {
  background-color: #ffff;
  border: 1px solid var(--text-color);
}

button {
  background-color: var(--cta-light-color);
  border: 1px solid var(--cta-light-color);
}

/*Hover, focus and active styles*/

.current {
  background-color: var(--background-color);
}

nav a:hover,
footer a:hover,
.to-top:hover,
.contact-info a:hover,
.breadcrumbs a:hover {
  font-weight: bold;
}

.cta-small:hover,
nav a:hover,
button:hover {
  background-color: var(--cta-dark-color);
  border-color: var(--cta-dark-color);
}

.cta-wide:hover {
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
}

.cta-wide:focus,
.cta-wide:active {
  background-color: var(--cta-light-color);
}

nav a:focus,
.cta-small:focus,
nav a:active,
.cta-small:active,
button:focus,
button:active {
  background-color: var(--darker-color);
  border-color: var(--darker-color);
}
