a {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.cta {
  cursor: pointer;
  border: 2px solid var(--text-color);
  padding: 1rem 1.7rem;
  width: 200px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.cta-color {
  background: var(--cta-color);
  text-transform: uppercase;
}

/*Hover, focus and active styles*/

.current {
  background-color: var(--background-color);
}

a:hover {
  font-weight: bold;
}

.cta:hover,
nav a:hover {
  background-color: var(--border-color);
  border-color: var(--border-color);
  font-weight: bold;
}

nav a:focus,
.cta:focus {
  background-color: var(--cards-color);
}

nav a:active,
.cta:active {
  border-color: var(--cards-color);
}
