a {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.cta {
  border: 2px solid var(--text-color);
  padding: 1rem 1.7rem;
  width: 200px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
