<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;700&family=Yeseva+One&display=swap" rel="stylesheet" />
    <link href="/styles/index.css" rel="stylesheet" />
    <link href="/styles/media.css" rel="stylesheet" />
  </head>
  <body>
    <div class="body-container">
      <header class="nav-header">
        <div>
          <a href="index.html"><img src="/images/logo.svg" class="logo" alt="Fabulous fiction logo links to homepage" /></a>
        </div>
        <nav class="nav-bar">
          <div class="hamburger-icon">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <p>Menu</p>
          </div>
          <ul class="menu-links">
            <li class="menu-link"><a href="index.html" class="active">home</a></li>
            <li class="menu-link"><a href="posts.html">posts</a></li>
            <li class="menu-link"><a href="books.html">reviews</a></li>
            <li class="menu-link"><a href="about.html">about</a></li>
            <li class="menu-link"><a href="contact.html">contact</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <header class="welcome-header">
          <div class="welcome-box">
            <h1 class="welcome-text">Find Your Next Favorite Book.</h1>
          </div>
        </header>
        <div class="content-container">
          <section class="latest-posts-homepage">
            <h2 class="h2-home">Latest posts</h2>
          </section>
          <section class="book-reviews-homepage">
            <h2 class="h2-home">Book reviews</h2>
          </section>
          <div class="quote-brackets">
            <blockquote>
              <p>A reader lives a thousand lives before he dies . . . The man who never reads lives only one.</p>
              <cite>George R.R. Martin</cite>
            </blockquote>
          </div>
          <section class="about-grid">
            <h2 class="h2-home">About me</h2>
            <div><img src="/images/aboutme2.jpg" /></div>
            <div>
              <p>
                I am an avid reader of fiction books ranging from the historical to the fantastical, and have studied English literature at NTNU for five years.
              </p>
              <p>On my blog, I share my reviews and tips on the best books.</p>
              <a href="about.html" class="cta cta-read">Read more</a>
            </div>
          </section>
          <section class="subscribe-section">
            <h2 class="h2-home">Subscribe for updates</h2>
            <p>Reveice updates on the latest posts from Fabulous Fiction.</p>
          </section>
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="/js/navigation.js"></script>
  </body>
</html>
