@import "/styles/imports/variables.css";

/* GENERAL */

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: "Josefin Sans", Verdana, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Fonts, typography*/
p {
  font-family: "Josefin Sans", Verdana, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Yeseva One", Georgia, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
}

.capital-p {
  font-family: "Josefin Sans", sans-serif, Tahoma, Verdana;
}

/* UTILITIES */

li {
  list-style: none;
}

/* GLOBAL */

/*Body*/

.body-container {
  max-width: 1200px;
  margin: 0 auto;
}

/*Header and nav*/

.logo {
  display: block;
  width: 8.5rem;
  height: auto;
}

nav a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
  padding-left: 2.5rem;
}

.nav-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.8rem 0.6rem 0rem 0.6rem;
}

.hamburger-icon {
  display: none;
}

.line {
  display: block;
  height: 2.2px;
  width: 1.8rem;
  margin: 0.3rem auto;
  background-color: var(--text-color);
  -webkit-transition: all 0.28s ease-in-out;
  transition: all 0.28s ease-in-out;
}

.menu-links {
  display: flex;
  align-items: center;
}

/*Footer*/

/* Homepage */

.welcome-header {
  display: block;
  background: url(/images/header.jpg);
  background-size: cover;
  min-height: 8rem;
}

.welcome-box {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  padding: 0.9rem 0.5rem;
  margin-top: 5rem;
}

.welcome-text {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0rem;
}

/* Contact page */

/* Blog page */

/* Blog specific page */

/* About page */
