@import "/styles/imports/variables.css";
@import "/styles/imports/links.css";

/* GENERAL */

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: "Josefin Sans", Verdana, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Fonts, typography*/
p {
  font-family: "Josefin Sans", Verdana, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: "Yeseva One", Georgia, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
  color: var(--text-color);
}

h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  display: grid;
  grid-column: -1/1;
}

h2 {
  font-size: 1.3rem;
  padding-top: 1rem;
  display: grid;
  grid-column: -1/1;
}

.h2-home {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.p-uppercase {
  font-family: "Josefin Sans", sans-serif, Tahoma, Verdana;
  font-weight: 300;
  font-size: 1.1rem;
  text-transform: uppercase;
}

/* UTILITIES */

li {
  list-style: none;
}

/* GLOBAL */

/*Containers and cards*/

.body-container {
  max-width: 1200px;
  margin: 0 auto;
}

.content-container {
  margin: 0rem 0.6rem;
}

.main-card {
  width: 100%;
  background-color: var(--cards-color);
}

.main-card > * {
  margin: 0.6rem;
}

.favorites-categories {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
}

/*Header and nav*/

.logo {
  display: block;
  width: 8.5rem;
  height: auto;
  object-fit: contain;
}

nav a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
  padding-left: 2.5rem;
}

.nav-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.8rem 0.6rem 0rem 0.6rem;
}

.hamburger-icon {
  display: none;
}

.line {
  display: block;
  height: 2.2px;
  width: 1.8rem;
  margin: 0.3rem auto;
  background-color: var(--text-color);
  -webkit-transition: all 0.28s ease-in-out;
  transition: all 0.28s ease-in-out;
}

.menu-links {
  display: flex;
  align-items: center;
}

/*Footer*/

/* HOME page */

.welcome-header {
  display: block;
  background: url(/images/header.jpg);
  background-size: cover;
  min-height: 8rem;
}

.welcome-box {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  padding: 0.9rem 0.5rem;
  margin-top: 5rem;
}

.welcome-text {
  font-family: "Josefin Sans", Verdana, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: none;
  margin: 0rem;
}

/*About section*/

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/*Blockquote inspired by https://codepen.io/chris22smith/pen/oQWavL*/
.quote-brackets {
  display: inline-block;
  margin: 1.5rem;
  background-size: cover;
}

blockquote {
  display: inline-block;
  border-right: solid 0.6rem var(--border-color);
  margin: 0;
  padding: 1.5rem;
  position: relative;
}

blockquote::before {
  content: "\201C";
  color: var(--text-color);
  font-size: 7rem;
  position: absolute;
  left: -1rem;
  top: 1rem;
}

cite {
  color: var(--text-color);
  display: block;
  text-align: right;
}

.quote-brackets > * {
  position: relative;
  z-index: 1;
}

/* CONTACT page */

/* BLOG page */

/* BLOG SPECIFIC page */

/* ABOUT page */
