@media only screen and (max-width: 769px) {
  /*Nav*/
  .menu-links {
    position: absolute;
    left: -110%;
    top: 4.5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.28s;
  }

  .menu-links.active {
    left: -10%;
  }

  .menu-link {
    margin: 1rem 0;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
  }

  .hamburger-icon.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-icon.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-icon.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (min-width: 488px) {
  /*grid, flex, containers*/
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 624px) {
  p {
    font-size: 20px;
  }

  /*contact page*/
  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .welcome-header {
    min-height: 14rem;
  }

  .welcome-box {
    margin-top: 11.5rem;
  }
}

@media only screen and (min-width: 1214px) {
  .nav-header {
    margin: 0.8rem 0rem 0.8rem 0rem;
  }
}
