@media only screen and (max-width: 768px) {
  /*Nav*/
  .menu-links {
    position: absolute;
    left: -110%;
    top: 3.1rem;
    flex-direction: column;
    background-color: #fff;
    width: 110%;
    z-index: 1;
    text-align: center;
    transition: 0.28s;
  }

  .menu-links.active {
    left: -10%;
  }

  .menu-link {
    margin: 0.8rem 0rem;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
  }

  .hamburger-icon.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-icon.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-icon.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /*Image modal mobile and smaller screens*/

  .image-modal img {
    width: 101%;
  }
}

/*SMALLER TABLETS*/

@media only screen and (min-width: 481px) {
  /*grid, flex, containers*/
  .about-grid-homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .recent-card {
    min-width: 98%;
  }

  footer {
    margin: 4rem;
  }
}

/*BIGGER TABLETS*/

@media only screen and (min-width: 624px) {
  /*fonts*/

  .recent-card {
    min-width: 48%;
  }
  p,
  .cta {
    font-size: 20px;
  }

  .recent-card h2 {
    font-size: 20px;
  }

  /*contact page*/
  .contact-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .contact-form-container h2 {
    margin-bottom: 3.3rem;
  }

  /*review specific page*/

  .review-specific-container,
  .about-grid {
    grid-template-areas:
      "heading heading"
      "subheading subheading"
      "image paragraphs"
      "color-card paragraphs";
    max-width: 100%;
  }

  .heading-review,
  .about-heading {
    grid-area: heading;
  }

  .subheadings-review,
  .subheading-about {
    grid-area: subheading;
  }

  .image-review,
  .about-image {
    grid-area: image;
  }

  .review-paragraphs,
  .about-para {
    grid-area: paragraphs;
  }

  .synopsis,
  .color-card {
    grid-area: color-card;
  }

  /*containers*/
  .footer-section {
    grid-template-columns: 1fr 1fr 2fr;
  }

  /*links*/
  .cta-wide {
    width: 25rem;
  }
}

/*SMALL SCREENS AND LAPTOPS*/

@media only screen and (min-width: 769px) {
  .welcome-header {
    min-height: 14rem;
  }

  .welcome-box {
    margin-top: 11.5rem;
  }

  .content-container,
  .content-container-home {
    margin: 0rem 4rem;
  }

  .nav-header {
    justify-content: left;
    padding: 0rem 0.3rem;
    align-items: center;
  }

  /*fonts*/

  h1,
  .h2-home {
    font-size: 1.6rem;
  }
}

/*DESKTOPS, LARGE SCREENS*/

@media only screen and (min-width: 1025px) {
  .recent-card {
    min-width: 32.5%;
  }
}

/*EXTRA LARGE SCREENS*/

@media only screen and (min-width: 1214px) {
  .review-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.3rem;
  }

  .about-grid-homepage {
    grid-template-columns: 1fr 2fr;
  }
}
